@import "_colors";

p.espace{
  margin: 4% 0 1% 0;
}
.river{
  background: $river;
  color: white;
}
.gazon{
  background: $gazon;
}

.artistes{
    img{
      width: 80%;
    }
}
ul.dame{
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: 1px solid black;
    li{
      list-style-type: none;
    }
    li:first-child{
      background: yellow;
    }
}
ul.dame2{
    display: flex;
    justify-content: space-around;
    padding: 0;
    border: 1px solid black;
    li{
      list-style-type: none;
    }
    li:first-child{
      background: yellow;
    }
}
ul.dame3{
    display: flex;
    padding: 0;
    border: 1px solid black;
    li{
      list-style-type: none;
    }
    li:first-child{
      background: yellow;
      flex: 1;
    }
    li:last-child{
      background: yellow;
      flex: 1;
    }
}
ul.dame4{
    text-align: center;
    padding: 0;
    border: 1px solid black;
    li{
      list-style-type: none;
    }
}


.country{
display: flex;


}
.river2{
  order: 2;
  background: $river;
  flex: 2;
  }
.bergeG, .bergeD{
  background: $gazon;
  color: white;
  min-height: 100px;
  order: 1;
  flex: 1;
}
.bergeD{
order: 3;
}


.fond{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url('../img/damier.png');
  min-height: 350px;
}
